@{
    ViewData["Title"] = "Address Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<Texter.Models.Contact>

<h2>Address Book</h2>
<ul>
    @foreach (var contact in Model)
    {
        <li class="list-card">
            @Html.DisplayFor(modelContact => contact.Name) <br />
            @Html.DisplayFor(modelContact => contact.Number)
        </li>
    }
</ul>